<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="Midnight Launcher" Language="1033" Version="1.0.0.0" Manufacturer="MidnightTeam" UpgradeCode="6b7a5a8e-4a7b-4d5a-8a7e-4b7a5a8e4a7b" Scope="perUser">
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Midnight Launcher" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <StandardDirectory Id="AppDataFolder">
            <Directory Id="INSTALLFOLDER" Name="Midnight Launcher" />
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Midnight Launcher"/>
        </StandardDirectory>
    </Package>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="7b7a5a8e-4a7b-4d5a-8a7e-4b7a5a8e4a7c">
                <File Id="MidnightLauncherEXE" Source="publish\win-x64\Midnight-Launcher.exe" KeyPath="yes" />
                <RegistryValue Root="HKCU" Key="Software\MidnightLauncher" Name="installed" Type="integer" Value="1" KeyPath="no" />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8b7a5a8e-4a7b-4d5a-8a7e-4b7a5a8e4a7d">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Midnight Launcher" 
                          Description="Lightweight Minecraft Launcher"
                          Target="[INSTALLFOLDER]Midnight-Launcher.exe"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RegistryValue Root="HKCU" Key="Software\MidnightLauncher" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
